%h1 Financial Control App Mail Confimation
%p 
  %span Welcome to the Financial Control App
  %span= @user.full_name 

%p 
  %span To you start to use the app, access the link
  %span= link_to(@confirmation_link, @confirmation_link)

%p Thanks to use the Fianancial Control App.