@import 'mixins';

html {
  overflow: auto;  
}

body  {
  position: absolute;
  background-color: #eee;
  height:100%; 
  width: 100%;
}

#page {
  position: absolute; 
  width: 100%; 
  height: 100%;
}

#content {
  height: 745px;
  overflow:auto;
}

#menu_butons {
  @include centralize;
  margin-bottom: 5px;
}

#footer {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

#id_income_button {
 margin-right: 5px;
}

#id_expense_button {
  margin-left: 5px;
}

#notice {
  position: relative;
}

.navbar-brand {
  font-size: 25px;
  position: relative;
}

.horizontal-line {
  clear:both;
  width:100%;
  background-color:#d1d1d1;
  height:1px;
  margin-top:20px;
  margin-bottom:10px;     
}

li { list-style: none; }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}