@import 'mixins';

.expenses_div_list {
  margin: 5px;
  width: 620px;
}

.expenses_div_form {
  @include centralize;
}

.expenses_div_form_panel {
  @include panel_size;
}

.item_list:hover {
  background: #eee;
  cursor: default;
}

.expense_list {
  margin-top: 30px;
  height: 450px;
  overflow: auto;
}

.total_expense_div {
  margin-top: 20px;
  font-size: 20px;
}