@import 'mixins';
.login_div {
  //border: 1px black solid;
  //float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  @include panel_size;
}

.login_links_aux {
 // border: 1px black solid;
  margin-top: 5px;
}

.sign_up_link {
  float: right;
}