:plain
  var result_search = $("#{escape_javascript(render(partial: 'expense_list'))}");
  var result_balance = $("#{escape_javascript(render(partial: 'home/balance'))}");
  $(".expense_list_content").html(result_search);
  $(".div_result_value").html(result_balance);
  $("#input_income_from_date").val('');
  $("#input_income_to_date").val('');